NET "clk"        LOC = "V10";
NET "reset"      LOC = "B8";
NET "uart_tx"    LOC = "N18";
NET "uart_empty" LOC = "T11";
NET "uart_full"  LOC = "R11";
NET "sw<7>"      LOC = "T5";
NET "sw<6>"      LOC = "V8";
NET "sw<5>"      LOC = "U8";
NET "sw<4>"      LOC = "N8";
NET "sw<3>"      LOC = "M8";
NET "sw<2>"      LOC = "V9";
NET "sw<1>"      LOC = "T9";
NET "sw<0>"      LOC = "T10";
NET "btn_start"  LOC = "A8";
NET "btn_stop"   LOC = "C9";
