NET "clk"        LOC = "V10";
NET "reset"      LOC = "B8";
NET "uart_tx"    LOC = "N18";
NET "uart_empty" LOC = "T11";
NET "uart_full"  LOC = "R11";
NET "sw<3>"      LOC = "M8";
NET "sw<2>"      LOC = "V9";
NET "sw<1>"      LOC = "T9";
NET "sw<0>"      LOC = "T10";
